{
  "extends": [
    "wantedly-typescript",
    "plugin:relay/strict"
  ],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["relay"],
  "rules": {
    "no-undef": "off",
    "relay/generated-flow-types": "off"
  }
}
