{
  "extends": [
    "wantedly-typescript"
  ],
  "parserOptions": {
    "project": ["./apps/*/tsconfig.json", "./packages/*/tsconfig.json", "./packages/*/tsconfig.module.json"]
  },
  "rules": {
    "no-undef": "off"
  }
}
